<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Project</h1>
    <a href="/">Home</a><br>
    <a href="/add">Add Book</a>
    <a href="/list">Books</a>

    <h1>Add New Book</h1>
    <form action="/savebook" method="POST">
        {% csrf_token %} 
        <table>
            <tr>
                <td>Title</td>
                <td><input type="text" name="title" id=""></td>
            </tr>

            <tr>
                <td>Author</td>
                <td><input type="text" name="author" id=""></td>
            </tr>
            <tr>
                <td>Price</td>
                <td><input type="text" name="price" id=""></td>
            </tr>
            <tr>
                <td colspan="2"><input type="submit" value="Add Book"></td>
            </tr>
        </table>
        
    </form>
    
</body>
</html>
