<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Book Project</h1>
    <a href="/">Home</a>
    <a href="/add">Add book</a>
    <a href="/list">Books</a>
    <h2>welcome</h2>

    <h1>Book List</h1>
    <table border="2">
        <tr>
            <th>ID</th>
            <th>Title</th>
            <th>Author</th>
            <th>Price</th>
            <th>Actions</th>
        </tr>
    
    {% for book in books %}
    <tr>
        <td>{{ forloop.counter }}</td>
        <td>{{ book.id }}</td>
        <td>{{ book.title }}</td>
        <td>{{ book.author }}</td>
        <td>{{ book.price }}</td>
    
        <td>
            <a href="/edit/{{book.id}}">Update</a>&nbsp;
            <a href="/delete/{{book.id}}">Delete</a>
        </td>
    </tr>
    {% endfor %}
    </table>
</body>
</html>

